// general elements
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

body,
div {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6,
p {
    line-height: 25px;
}

img {
    display: block;
}

hr {
    border: 0;
    border-bottom: 1px solid #dbdbde;
}

// general class
.bg__setup {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bt {
    padding: 10px 25px;
    border: 1px solid;
    border-radius: 5px;
}

.bt__primary {
    background: #323537;
    color: #fff;
}

.bt__default {
    background: #f3f3f4;
    color: #000;
    border-color: transparent;
}

.c__pointer {
    cursor: pointer;
}

.ft__up {
    text-transform: uppercase;
}

.fw__bold {
    font-weight: 700;
}

.fw__medium {
    font-weight: 500;
}

.fw__thin {
    font-weight: 300;
}

// navbar
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 86%;
    left: 7%;
    background: #000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    .nav__title {
        margin-left: 35px;
        color: #fff;
    }

    .nav__link {
        a {
            @extend .ft__up;
            display: inline-flex;
            padding: 25px;
            color: rgb(204, 204, 204);

            &:hover {
                color: #fff;
            }
        }

        .active {
            color: #fff;
            margin-bottom: -2px;
            border-bottom: 2px solid #fff;
        }
    }

    .nav__tool {
        @extend .nav__link;
        display: flex;
        align-items: center;

        > div {
            width: 35px;
            height: 35px;
            margin-right: 35px;
            border-radius: 50%;
            background: #fff;
        }

        > a {
            background: #323537;
        }
    }
}