@media screen and (max-width: 1100px) {
    .product__toplist {
        width: 95%;
        margin: -140px 0 0;
        padding-left: 5%;
        overflow-x: auto;

        >div {
            min-width: 300px;
            margin-right: 5px;

            &:nth-child(1) {
                min-width: 250px;
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .home__body {
        .modal {
            margin-top: 65px !important;
        }
    }

    .product__tools {
        justify-content: center !important;
        padding-bottom: 12px;
        border-bottom: 1px solid #dbdbde;

        .bt {
            margin-top: 65px;
            position: absolute;

            &:nth-child(1) {
                left: 5%
            }

            &:nth-child(3) {
                right: 5%;
            }
        }
    }

    .product__list {
        margin-top: 70px;

        >.product {
            width: 32.5%;
        }
    }

    .database__header>div>a {
        width: calc(50% - 45px);
        margin-bottom: 10px;
        padding: 20px;
    }

    .database__content {
        .tools {
            >div {
                >div {
                    height: 35px;
                    width: 35px;
                    margin-left: 5px;

                    &:nth-child(1).able,
                    &:nth-child(1).disable {
                        width: 35px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    #nav {
        width: 100%;
        left: 0;

        .nav__link,
        .nav__tool {

            a,
            .auth__toogle {
                padding: 20px;
            }

            .auth__toogle {
                padding-right: 0;
            }
        }
    }

    .wrapper>div:nth-child(1) {
        margin-top: 59px;
    }

    #user__modal,
    #auth__modal {
        top: 75px;
    }

    .product__list>.product {
        width: 49%;
    }

    // Book Page
    .book {
        .book__detail>div:nth-child(1) {
            margin-top: -110px;
        }
    }
}

@media screen and (max-width: 650px) {
    // NAVBAR
    #nav {
        >div:nth-child(3) {
            display: flex !important;
            width: 100%;
        }

        .nav__link {
            top: 75px;
            right: -5px;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            padding-bottom: 25px;
            background: #36393f;
            color: #8e9297;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
            z-index: 99;

            a {
                margin: 0;
                padding: 25px 100px 0 15px !important;
                color: #cccccc;

                &.active {
                    border-bottom: 0;
                }
            }

            .arrow__helper {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: -8px;
                right: 16px;
                background: #36393f;
                transform: rotate(45deg);
            }

            .auth__toogle {
                padding: 25px 100px 0 15px;
            }
        }

        .hide {
            display: none;
        }

        .profile__toogle {
            margin-right: 15px;
        }

        #toogle_nav {
            display: block !important;
            margin: 10px 5%;
            cursor: pointer;

            svg {
                font-size: 35px;
                color: #fff;
            }
        }

        .home__header {
            padding: 0 5%;
        }
    }

    // HOME

    .my_book {
        .genre__list {
            justify-content: center !important;
        }
    }

    .genre__list {
        overflow-x: auto;
        width: 110%;
        margin: 0 -5%;
        padding-left: 5%;
        justify-content: flex-start !important;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    // BOOK

    .book {
        .book__detail {
            flex-direction: column;

            >div {
                width: 100% !important;

                &:nth-child(1) {
                    .book__img {
                        width: 300px;
                        height: 300px;
                        margin: -40px auto 0;
                        padding-top: 0;
                    }

                    .detail__list {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 20px;

                        div {
                            width: 50%;
                        }
                    }
                }

                &:nth-child(2) {
                    margin: 0;

                    div {
                        &:nth-child(1) {
                            .detail__info {
                                width: 100%;
                                color: #000;

                                div {
                                    display: flex;
                                    flex-direction: column-reverse;
                                    width: 50%;
                                    margin: 20px 0 0;

                                    h3 {
                                        font-size: 16px;
                                        font-weight: 300;
                                    }

                                    h6 {
                                        font-weight: 700;
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            h3 {
                                font-size: 25px;
                            }

                            h6 {
                                text-align: justify;
                            }
                        }
                    }

                    button {
                        position: fixed;
                        bottom: 20px;
                        width: 90%;
                    }
                }
            }
        }
    }

    // DATABASE

    .database {
        h4 {
            font-size: 20px;
        }

        .database__header {
            >div {
                flex-wrap: nowrap;
                justify-content: unset;
                overflow-x: auto;
                margin: 0px -5%;
                padding-left: 5%;
    
                a {
                    min-width: 250px;
                    margin-right: 10px;
                    padding: 15px 20px;
                    h5 {
                        font-size: 16px;
                    }
                    
                    h6 {
                        font-size: 14px;
                    }
                }
            }
        }
    
        .database__content {
            table {
                td:nth-child(3) {
                    display: none;
                }
    
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    // MODAL
    #auth__modal {
        top: 170px;
        right: 0;
    }

    #user__modal {
        right: 10%;
        .arrow__helper {
            right: 65px;
        }
    }
}

@media screen and (max-width: 450px) {
    .nav__link {
        margin-left: 5%;
    }

    .home__header>h1 {
        margin: -50px 5% 0.67em;
    }

    .product__list {
        .product {
            width: 100%;

            img {
                height: 200px;
            }
        }
    }

    .database h4 {
        font-size: 20px;
    }

    .database__header > h4 {
        margin-top: 10px;
    }

    .empty img {
        width: 250px;
    }
}